#login {
	/*float: right;*/
}

#website_form {
	margin-bottom: 3em;
}

.hidden_div{
	display:none;
}

.list_item p {
	display:inline-block;
	margin-top: 10px;
}

.vote-arrow {
	display:block;
}

.glyphicon {
	transition: all 0.2s ease-in-out;
}

.voted {
	color: #c87f0a;
}

.rating {
	margin-left:3px;
}

.comment-header {
	margin-top:40px;
}

.comment-content {
	margin-top:20px;
}

.BUTANS {
	float: right;
	clear: left;
}

.loginButtons {
	margin-top:20px;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

h4 {
	display: inline;
}

.date{
	font-size: 0.75em;
}

.brand{
	font-size: 1.5em;
}

.search-page{
    display: block;
}

ul {
	list-style: none;	/*no bullets*/
	padding-left:0;
}

.navbar-nav {
	width: 100%
}

.user_name {
	font-weight: bold;
}

.navbar-default {
	border-radius: 0px
}

.glyphicon-menu-hamburger {
	color: #FFF;
}

@media (min-width: 1000px) {		/*shift commenter metadata down 20px on larger screens*/
	.comment-metadata {
		margin-top:20px;
	}
}
